
.button
  border none
  border-radius 5px
  padding 10px 20px
  font-size 16px
  font-weight 600
  cursor pointer
  transition background-color 0.3s, opacity 0.3s
  text-align center

.w100
  width 100%
.button-primary
  background $blue
  color $white

.button-success
  background $success
  color $white

.button-success-light
  background $success-light
  color $white

.button-danger
  background $danger
  color $white

.button-danger-light
  background $danger-light
  color $white

.button-warning
  background $warning
  color $black

.button-default
  background $default
  color $black

.button:hover
  opacity $hover-opacity

.button:active
  opacity $active-opacity
