
body
  font-family 'Gilroy', sans-serif
  margin 0
  padding 0
  height 100dvh
  width 100dvw 
  overflow hidden
  box-sizing border-box

$blue = #2693FF
$ligth-blue = #46A3FF
$active-blue = #1182F2
$success = #1AD18F
$success-light = #0ED984
$danger = #FF4874
$danger-light = #FF2E79
$warning = #FFC42E
$default = #9CAEC1
$lightgrey = #BFDAEB
$white = #fff
$opal-white = #F4FBFF
$black = #000
$darkblue = #283848
$hover-opacity = 0.8
$active-opacity = 0.6
